.rocket-container {
  position: fixed;
  left: 20vw; 
  bottom: -150px;     
  z-index: 1000;
  pointer-events: none;
  width: 300px;   

  .rocket {
    position: relative;
    width: 100%;
    animation: fly-up 4s linear forwards, fade 4s forwards;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .flame-img {
      position: absolute;
      bottom: -155%; 
      left: 50%;
      transform: translateX(-50%);
      width: 32px; 
      height: auto;
    }
  }
}

@keyframes fly-up {
  from { transform: translateY(0); }
  to   { transform: translateY(-300vh); }
}