@use "@styles/variables.scss" as *;

.social-link-img {
  height: 36px;
  width: 36px;
}

.footer-section {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 50px;

  .footer-bg-img-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    z-index: 0;
  }

  .footer-bg-img-2 {
    height: 200px;
    width: auto;
    opacity: 0;
    transform: translateX(40px);
    animation: fadeInRight 1s ease-out 0.5s forwards;
    z-index: 10;
  }

  .container {
    position: relative;
    z-index: 20;
  }

  .circles {
    display: flex;
    gap: 16px;

    @media (max-width: 767px) {
      display: none;
    }

    .circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $bg-dark-gray;
    }
  }

  .links-group {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      gap: 16px;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 8px; // optional, adjust for vertical spacing
      }
    }

    li {
      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.bottom-navigation {
  margin-top: 2rem;
  width: 90%;
  left: 5%;
  bottom: 0;
  padding-bottom: 1rem;
  position: absolute;

  @media (max-width: 767px) {
    position: relative;
  }
}